$background-color: black !default;
$color: white !default;
$title-background-color: #262a2d;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header-area {
  height: 8vh;
  display: flex;
  flex-direction: row;
  background-color: $background-color;
  color: $color;

  &__left {
    display: inline-block;
    width: 45%;
  }
  &__right {
    display: inline-block;
    width: 55%;
  }
}

.header-logo {
  display: flex;
  justify-content: center;
  align-items: center;

  &__logo {
    margin: 2vh 0;
    width: 20%;
  }
}

.header-contents {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;

  &__link {
    margin: 0 0.75vw;
  }

  &__link-title {
    font-size: 0.85rem;
    font-weight: bold;
    text-decoration: none;
    color: $color;

    &:hover {
      color: green;
    }
  }

  &__color-button {
    margin: 0 0.75vw;
  }
}

.header-divider {
  border-bottom: 0.01rem solid #262a2d;
}

.title-container {
  height: 60vh;
  width: 100%;
  position: relative;
  background-color: $title-background-color;
  color: $color;

  %side-box {
    height: 100%;
  }

  &__left {
    @extend %side-box;
    position: absolute;
    left: 0;
  }

  &__right {
    @extend %side-box;
    position: absolute;
    right: 0;
  }

  &__center {
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
  }
}

.title-left-figures {
  position: relative;
  left: 0;
  width: 45vh;
  height: 60vh;
  border-radius: 0 100% 100% 0;
  background-color: #1b1f23;

  &__first-triangle {
    overflow: hidden;
    position: absolute;
    bottom: 0;
    border-top: 20vh solid transparent;
    border-right: 20vh solid transparent;
    border-left: 20vh solid #80ea6e;
    border-bottom: 20vh solid #80ea6e;
    background-color: transparent;
  }

  &__second-triangle {
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 20vh;
    border-top: 7.5vh solid transparent;
    border-left: 7.5vh solid #6db33f;
    border-bottom: 7.5vh solid transparent;
  }
}

.title-right-figures {
  right: 0;
  width: 50vh;
  height: 60vh;
  border-radius: 100% 0 0 100%;
  background-color: #80ea6e;
}
.title-right-horizontal-bar {
}
.title-right-vertical-bar {
}

.title-center-factors {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  %font-style {
    font-size: 3rem;
    font-weight: bold;
    color: white;
  }

  &__first-context {
    @extend %font-style;
  }

  &__second-context {
    @extend %font-style;
  }
}

.title-center-factors-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

  &__factor {
    margin: 3vh 0.5vw;
    height: 7.5vh;
    width: 12vw;
    border: 0.1rem solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;

    &:hover {
      background-color: white;
      color: black;
    }
  }
}
