.wrapper {
  width: 100%;
  height: 100%;
  position: relative;

  &__contentArea {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: white;
    border-radius: 40px;
  }
}
