.wrapper {
  width: 100%;
  height: 100%;
  position: relative;

  &__cardArea {
    position: absolute;
    z-index: 10;
    top: 5vh;
    right: 30vw;
    left: 30vw;
    height: 25vh;
    width: 20vw;
    background: linear-gradient(to right, #fbd3e9, #bb377d);
    box-shadow: 2px 2px gray;
    border-radius: 40px;
  }

  &__formArea {
    position: absolute;
    z-index: 5;
    top: 20vh;
    right: 20vw;
    left: 20vw;
    height: 60vh;
    width: 40vw;
    background: white;
    box-shadow: 2px 2px gray;
    border-radius: 20px;
  }
}

.card_form {
  margin: auto;
  width: 100%;

  @mixin flex {
    display: flex;
    align-items: flex-start;
  }

  @mixin flex-column {
    @include flex;
    flex-direction: column;
  }

  @mixin flex-row {
    @include flex;
    flex-direction: row;
  }

  &__inner {
    padding-top: 20vh;
    margin: 0 1vw;
    @include flex-column;
  }

  &__row {
    width: 100%;
    margin: 1vh 0;
    @include flex-row;
  }

  &__group {
    width: 100%;
    @include flex-column;
  }

  &__group_half {
    margin: 0 0.1vw;
    width: 50%;
    @include flex-column;
  }
}

.card_input {
  margin: 0.1vh 0;
  width: 100%;

  &__label {
    font-size: 0.75rem;
    font-weight: bold;
  }

  &__input {
    width: 100%;
    height: 5vh;
    border-radius: 5px;
    border: 1px solid lightgray;

    &:hover {
      border: 1px solid lightskyblue;
    }
    &:focus {
      box-shadow: 0px 0px 5px lightskyblue;
      outline: none;
    }
  }
}

.card_expiration_area {
  margin: 1vh 0;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;

  &__select {
    margin: 0.1vh 0.1vw;
    width: 50%;
    height: 5vh;
    border-radius: 5px;
    border: 1px solid lightgray;

    &:hover {
      border: 1px solid lightskyblue;
    }
    &:focus {
      box-shadow: 0px 0px 5px lightskyblue;
      outline: none;
    }
  }
}

.card_submit_area {
  @mixin centering {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  margin: 1vh auto;
  width: 100%;
  @include centering;

  &__button {
    width: 40%;
    height: 5vh;
    border-radius: 5px;
    background: mediumblue;

    @include centering;
    color: white;

    &:active {
      background: darkblue;
      box-shadow: 0px 0px 5px midnightblue;
    }
  }
}
