.wrapper {
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #232526, #414345);
  box-shadow: 2px 2px dimgray;
  border-radius: 20px;

  display: flex;
  flex-direction: column;

  &__row {
    margin: auto 0;
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
}

.card {
  @mixin common {
    margin: 0.1vh 0.25vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__ic {
    @include common;
    width: 25%;
    color: white;
  }

  &__brand_name {
    @include common;
    width: 25%;
    color: white;
  }

  &__number {
    @include common;
    width: 100%;
    color: white;
  }

  &__holder {
    @include common;
    width: 75%;
    color: white;
  }

  &__expired {
    @include common;
    width: 25%;
    color: white;
  }
}

.ic_area {
  @mixin centering {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  width: 100%;
  height: 100%;
  @include centering;

  &__content {
    width: 50%;
    height: 50%;
    background: linear-gradient(to right, #ada996, #f2f2f2, #dbdbdb, #eaeaea);
    border-radius: 10px;
    border: 1px solid lightgray;
    @include centering;
  }

  &__inline_one {
    width: 75%;
    height: 75%;
    border-radius: 10px;
    border: 1px solid lightgray;
    @include centering;
  }

  &__inline_two {
    width: 80%;
    height: 80%;
    border-radius: 10px;
    border: 1px solid lightgray;
    @include centering;
  }
}
