.wrapper {
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #232526, #414345);
  box-shadow: 2px 2px dimgray;
  border-radius: 20px;

  display: flex;
  flex-direction: column;

  &__row {
    margin: auto 0;
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
}

.card {
  @mixin common {
    margin: 0.1vh 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__ic {
    @include common;
    width: 25%;
    color: white;
  }

  &__brand_name {
    @include common;
    width: 25%;
    color: white;
  }

  &__number {
    @include common;
    width: 100%;
    color: white;
  }

  &__holder {
    @include common;
    width: 75%;
    color: white;
  }

  &__expires {
    @include common;
    width: 25%;
    color: white;
  }
}

.ic_area {
  @mixin centering {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  width: 95%;
  height: 95%;
  @include centering;

  &__content {
    width: 50%;
    height: 50%;
    background: linear-gradient(to right, #ada996, #f2f2f2, #dbdbdb, #eaeaea);
    border-radius: 10px;
    border: 1px solid lightgray;
    @include centering;
  }

  &__inline_one {
    width: 75%;
    height: 75%;
    border-radius: 10px;
    border: 1px solid lightgray;
    @include centering;
  }

  &__inline_two {
    width: 80%;
    height: 80%;
    border-radius: 10px;
    border: 1px solid lightgray;
    @include centering;
  }
}

.card_area {
  margin: 0.25vh 0.5vw;
  border-radius: 10px;
  border: 0.5px solid transparent;
  width: 100%;
}
.card_area_active {
  @extend .card_area;
  animation: focusBorderLine 2s linear 0s forwards;
}

.holder_area {
  margin: 0.2vh 0.5vw;
  border-radius: 10px;
  border: 0.5px solid transparent;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;

  &__label {
    margin: 0.1vh 1vw;
    font-size: 0.5rem;
    color: gray;
  }

  &__value {
    margin: 0.1vh 1vw;
  }
}
.holder_area_active {
  @extend .holder_area;
  animation: focusBorderLine 2s linear 0s forwards;
}

.expires_area {
  margin: 0.2vh 0.5vw;
  border-radius: 10px;
  border: 0.5px solid transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &__label {
    margin: 0.1vh 1vw;
    font-size: 0.5rem;
    color: gray;
  }

  &__value {
    margin: 0.1vh 1vw;
  }
}
.expires_area_active {
  @extend .expires_area;
  animation: focusBorderLine 2s linear 0s forwards;
}

@keyframes focusBorderLine {
  0% {
    border: 0.5px solid transparent;
  }
  100% {
    border: 0.5px solid white;
  }
}
