.root {}

.stage {
  margin: 4px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.cell {
  margin: 1px;
  height: 64px;
  width: 64px;
  border-radius: 8px;
  background-color: whitesmoke;
  border: 1px solid silver;
}

.cell-active {
  background-color: lightcoral;
}

.cell-content {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}